.ag-row .ag-cell {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.ag-cell-wrapper {
    height: 100%;
}

.cell-wrap-text {
    white-space: normal !important;
}

.ag-theme-quartz,
.ag-theme-quartz-dark {
    height: 100%;
    width: 100%;
}

.ag-root-wrapper {
    border-radius: 0 !important;
}

.ag-header-cell-label {
    justify-content: center;
}

.ag-theme-quartz-dark .ag-header-viewport {
    background-color: #343D55;
}

.ag-theme-quartz-dark .ag-row,
.ag-theme-quartz-dark .ag-center-cols-viewport,
.ag-theme-quartz-dark .ag-paging-panel {
    background-color: #283046;
}

.ag-theme-quartz-dark .ag-paging-page-summary-panel {
    background-color: #242b3d;
    height: 2em;
}

.dt-grid-inputs {
    vertical-align: middle !important;
}

.dt-grid-inputs .dt-buttons {
    margin-bottom: 0.25rem !important;
    margin-left: 0.25rem !important;

}

.dataTables_length {
    visibility: hidden !important;
    display: none !important;
}

/* .ag-theme-quartz-dark .ag-paging-row-summary-panel-number:nth-child(1) {background-color: #7367f0; width: 1em;} */